body {
  background-image: url("../../SVG/home-bg.svg");
}

@font-face {
  font-family: "Black Rocket";
  src: url("../../Fonts/Black\ Rocket.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../../Fonts/Montserrat-Regular.ttf");
}

.black-rocket {
  font-family: 'Black Rocket', sans-serif;
  color: #575757;
}

.subtitle {
  font-family: 'Montserrat';
  color: #575757;
}