.active {
  transition: all 0.2s;
  padding: 0;
  background-color: rgb(229 231 235);
  z-index: 3;
}

.inactive {
  transition: all 0.2s;
  padding: 12px;
  opacity: 1;
}

.black-rocket {
  font-family: 'Black Rocket', sans-serif;
}

.subtitle {
  font-family: 'Montserrat Regular';
}

.nav-items {
  font-family: 'Montserrat Medium';
}