@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Black Rocket";
  src: url("./Fonts/Black\ Rocket.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("./Fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("./Fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Courier-New";
  src: url("./Fonts/Courier-New.ttf");
}